doctype html
html
  head
    meta(charset='utf-8')
    link(href="style.css" rel="stylesheet")
    title Octodex
  body
    header
        h1
          | GitHub 
          span Octodex
        pre(class = navbar)
          | RSS     FAQ     Back to GitHub
  figure
    img(src = "https://octodex.github.com/images/jenktocat.jpg")
    img(src = "https://octodex.github.com/images/heisencat.png")
    img(src = "https://octodex.github.com/images/megacat-2.png")
  figure
    img(src = "https://octodex.github.com/images/steroidtocat.png")
    img(src = "https://octodex.github.com/images/linktocat.jpg")
    img(src = "https://octodex.github.com/images/plumber.jpg")
  figure
    img(src = "https://octodex.github.com/images/spocktocat.png")
    img(src = "https://octodex.github.com/images/ironcat.jpg")
    img(src = "https://octodex.github.com/images/okal-eltocat.jpg")
  footer
    pre(class = footerNav)
      | RSS     FAQ
    img(src = "")
    h4
      | 2013 - 2015 GitHub, Inc. All rights reserved.
