body {
  margin: 0;
  overflow-x: hidden;
  font-family: Bodoni;
  background-color: white;

}

header {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Bodoni;
  padding-top: 15px;
  padding-bottom: 100px;
  background-image: url('../images/bg-header.jpg');
  background-size: cover;
  margin: auto;
}

#myPic {
  height: 500px;
  width: 100%;
  margin: -390px 0 -98px 0;
  padding-right: 40px;
  padding-bottom: 0;
  opacity: .2;
  z-index: 0;
}

#twitter {
  height: 40px;
  width: 40px;
  z-index: 1;
}

#gitHub {
  height: 40px;
  width: 50px;
  padding-right: 5px;
}

#linkedinLogo {
  padding-left: -175px;
  margin-top: -5px;
  height: 50px;
  width: 80px;
}

.brand {
  margin-left: -250px;
  padding-top: 10px;
  color: white;
}

.brand a {
  margin-right: 25px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navbar {
  background-color: rgba(101, 50, 57, .8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 30px;
  margin:0;
  font-weight: 600px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

nav {
  font-family: Bodoni;
  font-size: 19px;
  padding-right: 0;
  margin-right: -320px;
  display: flex;
  flex-direction: row;
}

.navbar  .brand img {
  margin: -5px 15px 0px -320px;
  padding-left: 115px;
  padding-right: 5px;
  font-weight: 300;
}

.navbar  nav > div {
  padding: 0 5px;
}

.navbar a {
  color: #0B3454;
}

h1 {
  text-align: left;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 75px;
  color: #FEFEFE;
  text-shadow: 2px 2px black;
  margin: 60px 0 5px 50px;
  line-height: .8em;
  padding-top: 1%;
  padding-bottom: 5%;
}

h2.subheading {
  text-align: left;
  font-size: 50px;
  font-weight: 400;
  color: white;
  margin: 0 0 0 50px;
  font-family: sans-serif;
}

h2 {
  color: #0B3454;
}

.skills h2 {
  margin-right: -25px;
}

h3 {
  color: #0B3454;
  text-align: center;
  font-family: Bodoni;
  font-size: 44px;
  font-weight: 400;
  margin: 25px 0 0 0;
  line-height: 1em;
}

h4 {
  color: #0B3454;
  text-align: center;
  font-family: Bodoni;
  font-size: 24px;
  margin-top: 5px;
}

main {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
  margin-top: 50px;
}

.tictactoe, .minesweeper, .blogLayout {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  flex-grow: 10;
  margin-left: 90px;
  padding-bottom: 10px;
  text-align: center;
  /*border: 1px solid gray;*/
}

.captions {
  margin-left: 45px;
  font-size: 14px;
  padding-bottom: 25px;
  font-family: Bodoni;

}

article {
  text-align: center;
  margin: 20px;
  flex-direction: column;
  width: 60%;
  padding-right: 5px;
}


aside {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  vertical-align: top;
  width: 40%;
  margin-right: 25px;
}

.ironYard {
  margin: 50px 0 0 35%;
}

.sidebarParag {
  text-align: left;
  font-size: 24px;
  color: #0B3454;
  font-weight: 200;
  line-height: 1.2em;
  font-family: Bodoni;
  margin-bottom: 0;
  padding-bottom: 0;
}

.skills {
  font-size: 36px;
  text-align: center;
  margin-right: 70px;
  color: #0B3454;
}

h6 {
  margin: auto;
  color: #0B3454;
  padding-right: 70px;
  margin-bottom: 0;
  font-family: Bodoni;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  background-size: cover;
}

article h3, article h4 {
  margin-left: 48px;
}

article img {
  opacity: .6;
  position:inherit;
  flex-grow: 1;
  margin-left: -200px;
}

article img:hover {
  opacity: 1;
}

.bottomNav {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
  color: black;
  font-weight: 200;
  font-family: Bodoni;
}

.blog{
  text-decoration: none;
  color: #0B3454;
}

ul {
  list-style: none;
}

@media all and (max-width: 1000px) {
  header {
    height: 100px;
    margin: auto;
  }

  h1 {
    font-size: 30px;
    margin: auto;
    padding-bottom: 5px;
  }

  .navbar  .brand img {
    margin: auto;
  }

  .rightNav {
    margin: auto;
  }

  article h3 {
    font-size: 20px;
  }

  .bottomNav {
    font-size: 8px;
    text-align: left;
  }

  .logo {
    height: 35px;
    width: 35px;
    padding-right: 10px;
    margin-left: 5px;
  }

aside {
  display: none;
}

@media all and (max-width: 600px) {

.blog a{
  margin-left: 40%;
}

.tictactoe, .minesweeper, .blogLayout {
  margin-left: -5%;
}

article img {
  margin: auto;
  max-width: 80%;
}

h3 {
  margin-top: 5%;
}

h3, h4, p {
  font-size: 12px;
}

article {
    margin: auto;
  }
