body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: white;
  padding-top: 50px;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

header {
  min-height: 100%;
  position: relative;
  color: white;
  padding-top: 14%;
  padding-bottom: 25px;
  background-image: url('../images/bg-header.jpg');
  background-size: cover;
  margin-top: -45%;
  z-index: 1;
}

.underheader {
  position: relative;
  display: grid;
  min-height: 100%;
  z-index: 0;
  margin: -4% 0 0 0;
  background-image: url('../images/brick.png');
}


#resumePic {
  height: 35px;
  width: 35px;
}

.navbar > div > a {
  color: white;
}

.headroom {
  transition: -webkit-transform 3s linear;
}
.headroom--pinned {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0%);
  -webkit-transition: opacity 5s, transform 3s ;
}
.headroom--unpinned {
  opacity: 0;
  transform: translateY(100%);
  -webkit-transition: opacity 2s, transform 7s ;
}

#portTitle {
  text-align: center;
  margin: 5% 0 0 -3%
}

#clickImage {
  margin-left: -2%;
}

.attributes {
  list-style: none;
  margin-left: 80%;
  font-weight: bold
}

#firstParag {
  font-size: 24px;
  padding: 10px 30px 10px 30px;
  margin: -15% 0 0 0;
  color: black;
}

#aboutParag {
  font-size: 24px;
  padding: 10px 30px 10px 30px;
  margin: 0;
  color: black;
}

#right-side {
  margin-right: 2%;
}

#myPic {
  height: 500px;
  width: 100%;
  margin: -390px 0 -98px 0;
  padding-right: 40px;
  padding-bottom: 0;
  opacity: .2;
  z-index: 0;
}

#bwPic {
  float: right;
  margin-top: 10%;
  border: 1px solid black;
  border-radius: 10%
}

#twitter {
  height: 40px;
  width: 40px;
  z-index: 1;
}

#gitHub {
  height: 40px;
  width: 50px;
  padding-right: 5px;
}

#linkedinLogo {
  margin-top: -5px;
  height: 50px;
  width: 80px;
}

#telephone {
  height: 42px;
  width: 42px;
}

#email {
  height: 40px;
  width: 55px;
  padding: 2px 15px 0 0;
}

#portoPage {
  background-image: url('../images/portfoBackground.jpg');
  margin: 0;
}

.pull-left > li {
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
}

.pull-left > li > a {
  color: white;
}

.pull-right > li {
  padding-right: 10px;
}

#closure {
  text-align: center;
  margin: 75px 0 50px 0;
}

.navbar {
  background-color: rgba(101, 50, 57, 1);
  line-height: 30px;
  margin: 0;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  z-index: 1;
}

#movieReview {
  margin-left: -34%;
}

.navbar  nav > div {
  padding: 0 5px;
}

.navbar a {
  color: #0B3454;
}

h1 {
  text-align: left;
  font-weight: 200;
  font-size: 75px;
  color: #FEFEFE;
  text-shadow: 2px 2px black;
  margin: 60px 0 5px 50px;
  line-height: .8em;
  padding-top: 1%;
  padding-bottom: 5%;
}

h2.subheading {
  text-align: left;
  font-size: 50px;
  font-weight: 400;
  color: white;
  margin: 0 0 0 50px;
}

h2 {
  color: #0B3454;
}

#skills h2 {
  color: black;
  font-weight: bold;
  text-shadow: .2px .2px black;
  margin-left: 20%;
  opacity: .5;
}

h3 {
  color: #0B3454;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  margin: 25px 0 0 0;
  line-height: 1em;
}

h4 {
  color: #0B3454;
  text-align: center;
  font-size: 24px;
  margin: 5px 0 50px 0;
}

main {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
  margin-top: 50px;
}

#portoPage > figure > a {
  display: inline-block;
  text-align: center;
  padding-bottom: 30px;

}

.projPics {
  display: inline-flex;
}

.portImg {
  width: 600px;
  height: 300px;
  padding-left: 50px;
}

.captions {
  margin-left: 45px;
  font-size: 14px;
  padding-bottom: 25px;
}

article {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 5px;
}

.imageRows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

aside {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  vertical-align: top;
  width: 40%;
  margin-right: 25px;
}

.ironYard {
  margin: 50px 0 0 35%;
}

.sidebarParag {
  text-align: left;
  font-size: 24px;
  color: #0B3454;
  font-weight: 200;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.aboutMeBody {
  background-image: url('../images/stoneWall.jpg');
  background-size: cover;
  margin: 0 0 0 0;
}

#skills {
  background-color: rgba(101, 50, 57, .8);
  margin: -40% 0 0 15%;
  font-size: 22px;
  text-align: left;
  width: 280px;
  font-weight: bold;
  text-shadow: .2px .2px black;
  border-radius: 5%;
  padding: 2px;
}

h6 {
  margin: auto;
  color: #0B3454;
  padding-right: 70px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

article img {
  opacity: .6;
}

article img:hover {
  opacity: 1;
}

.bottomNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  color: black;
  font-weight: 200;
  height: 20px;
  padding-bottom: 5px
}

.blog {
  text-decoration: none;
  color: #0B3454;
}
ul {
  list-style: none;
}

.aboutMe {
  margin: 5% 0 10% 0;
  padding-bottom: 10%;
  padding-top: 8%;
  color: black;
}

#demoVid {
  width: 100%;
  padding-top: 3%;
  margin-bottom: -2%;
  border: none;
}

#navLinks:link, #navLinks:visited, #navLinks:hover, #navLinks:active {
  background: none;
}

#blogJumbo {
  margin: 5%;
  border: 1px solid gray;
}

#blogJumbo h1 {
  color: black;
  text-align: center;
}

@media all and (max-width: 1020px) {

  .navRight {
    padding-right: 10%;
  }
  h1 {
    font-size: 50px;
  }
  header .subheading {
    font-size: 30px;
  }

  article h3 {
    font-size: 20px;
  }
  .bottomNav {
    font-size: 8px;
    text-align: left;
  }
  .logo {
    height: 35px;
    width: 35px;
    padding-right: 10px;
    margin-left: 5px;
  }
  aside {
    display: none;
  }
}

@media all and (max-width: 923px) {
  header {
    margin-top: -50%;
  }
}

@media all and (max-width: 922px) {
  header {
    margin-top: -60%;
  }

  #demoVid {
    min-width: 100%;
    margin: -2% 0 0 0;
    padding-bottom: 2%;
  }
}

@media all and (max-width: 705px) {
  header {
    margin-top: -70%;
  }
}
@media all and (max-width: 600px) {
    .blog a{
  margin-left: 40%;
  }

  .img-responsive {
    height: auto;
    max-width: 80%;
    margin-left: 10px;
    padding-top: 10px;
  }

  .captions {
    font-size: smaller;
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
  }

  #closure {
    font-size: smaller;
  }

  .brand a {
    font-size: smaller;
    margin-left: -8%;
  }

  #twitter, #gitHub, #telephone {
    height: 35px;
    width: 35px;
    margin: -5px;
  }

  #linkedinLogo {
    width: 55px;
    height: 45px;
    margin: -5px;
  }

  .pull-left {
    margin-left: 15px;
    padding-right: 2px;
  }

  .pull-right {
    padding-right: 10px;
  }

  .navRight {
    padding-right: 5%;
  }

  article img {
    max-width: 80%;
  }

  h3 {
    margin-top: 5%;
  }

  h3, h4, p {
    font-size: 12px;
  }

  article {
    margin: auto;
}
  .skills {
    text-align: left;
  }
  .skills ul {
    margin-left: -60%;
  }
  .attributes {
    font-size: smaller;
  }

  .aboutMe {
    font-size: larger;
    padding-top: 10%;
  }
  .skills h2 {
    font-size: 18px;
  }

  #bwPic {
    margin-left: 12%;
    float: none;
  }

  .attributes {
    opacity: 0;
  }

  #resumePic {
    height: 35px;
    width: 30px;
  }

  header h1 {
    padding-top: 8%;
    font-size: 30px;
  }

  header .subheading {
    font-size: 18px;
    padding: 2px;
  }

  #navLinks {
    font-size: 14px;
  }

  #linkIcons li {
    margin-left: -1.5%;
  }

  .underheader {
    background-image: none;
  }
}

@media all and (max-width: 595px) {
  header {
    margin-top: -80%;
  }
}

@media all and (max-width: 526px) {
  header {
    margin-top: -90%;
    padding-bottom: 15%;
  }
}

@media all and (max-width: 469px) {
  header {
    margin-top: -120%;
  }
}

@media all and (max-width: 469px) {
  header {
    margin-top: -115%;
  }

  .pull-right {
    margin-right: -8%;
  }
}
